.oferta {
  background-color: #00446e;
  padding: 2rem;
  text-align: center;
}


.precio {
  font-size: 6rem;
  margin: 0;
}

/* Como tener 2 condiciones de media querys */
/* NOTA: PARA AGREGAR UN 3ER MEDIA QUERY SE LE AGREGA UNA COMA */
@media (min-width: 600px) and (max-width: 800px), (min-width: 1200px) {
  .oferta {
    background-color: yellow;
  }
}


/* @media (min-width: 800px) {
  .oferta {
    background-color: #00446e;
  }
} */